---
import { getCollection } from "astro:content";

import MusicGenresTable from "../../components/MusicGenresTable";
import Layout from "../../layouts/Layout.astro";

const tags = await getCollection("tagsIndex");
---

<Layout>
  <div class="min-h-screen bg-gray-50 p-6">
    <div class="mx-auto max-w-6xl">
      <h1 class="mb-2 text-3xl font-bold text-gray-800">Music Genres</h1>
      <p class="mb-6 text-gray-600">
        Explore all music genres known to humanity
      </p>
      <MusicGenresTable client:load genres={tags} />
    </div>
  </div>
</Layout>
