---
import { getCollection } from 'astro:content';

import MusicReleasesTable from '../components/MusicReleasesTable'
import Layout from '../layouts/Layout.astro';
const topReleases = await getCollection('topReleases');
---

<Layout>
    <div class="min-h-screen bg-linear-to-br from-gray-100 to-gray-200 p-8">
      <div class="mx-auto max-w-7xl">
        <h1 class="mb-2 text-4xl font-bold text-gray-800">
          Top Music Releases Ever
        </h1>
        <p class="mb-6 text-gray-600">Click column headers to sort</p>
        <MusicReleasesTable client:load releases={topReleases.map(({data}) => data)} />
      </div>
    </div>
</Layout>