<nav class="bg-gradient-to-r from-indigo-600 to-purple-600 shadow-lg">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center gap-2">
        <svg
          class="h-8 w-8 text-white"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 19V6l12-3v13M9 19c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zm12-3c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2zM9 10l12-3"
          ></path>
        </svg>
        <span class="hidden text-xl font-bold text-white sm:inline">
          You Must Hear
        </span>
      </div>

      <div class="flex gap-2 sm:gap-4">
        <a
          href="/"
          class="group relative px-4 py-2 font-medium text-white transition-all duration-300 hover:text-purple-200"
        >
          <span class="relative z-10 flex items-center gap-2">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"
              ></path>
            </svg>
            <span class="hidden sm:inline">Top Albums</span>
            <span class="sm:hidden">Albums</span>
          </span>
          <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full"></span>
        </a>

        <a
          href="/tags"
          class="group relative px-4 py-2 font-medium text-white transition-all duration-300 hover:text-purple-200"
        >
          <span class="relative z-10 flex items-center gap-2">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <defs>
                <polygon
                  id="tag-a"
                  points="5.072 .96 14.154 10.229 9.762 14.346 .714 5.203"
                ></polygon>
                <path
                  id="tag-c"
                  d="M10.000338,2 L2.00033799,2.00000718 L2.00033799,10 L12.2221634,20.0312301 L20.000338,12.2530555 L10.000338,2 Z M11.30314,0.72743042 L21.4145516,10.8388419 C22.1956001,11.6198905 22.1956001,12.8862205 21.4145516,13.6672691 L13.636377,21.4454437 C12.8553284,22.2264923 11.5889984,22.2264923 10.8079498,21.4454437 L0.696538306,11.3340321 C0.330220984,10.9677148 0.00960125957,10.5179681 0.000337990566,10 L0.000337990566,2 C-0.0199141638,0.867573645 0.872450717,-0.0199252147 2.00487707,0.000326939728 L10.000338,-2.36255456e-13 C10.5183061,0.009263269 10.9368227,0.361113097 11.30314,0.72743042 Z M6,7.99998714 C7.1045695,7.99998714 8,7.10455664 8,5.99998714 C8,4.89541764 7.1045695,3.99998714 6,3.99998714 C4.8954305,3.99998714 4,4.89541764 4,5.99998714 C4,7.10455664 4.8954305,7.99998714 6,7.99998714 Z"
                ></path>
              </defs>
              <g fill="none" fill-rule="evenodd" transform="translate(1 1)">
                <g transform="translate(0 7)">
                  <mask id="tag-b" fill="#ffffff">
                    <use xlink:href="#tag-a"></use>
                  </mask>
                </g>
                <mask id="tag-d" fill="#ffffff">
                  <use xlink:href="#tag-c"></use>
                </mask>
                <use
                  fill="#000000"
                  fill-rule="nonzero"
                  transform="matrix(-1 0 0 1 22 0)"
                  xlink:href="#tag-c"
                ></use>
              </g>
            </svg>
            <span class="hidden sm:inline">All Genres</span>
            <span class="sm:hidden">Genres</span>
          </span>
          <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full"></span>
        </a>

        <a
          href="/universe"
          class="group relative px-4 py-2 font-medium text-white transition-all duration-300 hover:text-purple-200"
        >
          <span class="relative z-10 flex items-center gap-2">
            <svg
              class="h-5 w-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
            <span class="hidden sm:inline">3D Universe</span>
            <span class="sm:hidden">3D</span>
          </span>
          <span class="absolute bottom-0 left-0 h-0.5 w-0 bg-white transition-all duration-300 group-hover:w-full"></span>
        </a>
      </div>
    </div>
  </div>
</nav>;
